# Application
APP_ENV=development
FLASK_SECRET_KEY=
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
PORT=5000

# PostgreSQL
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=5432

# Cloudinary
CLOUD_NAME=
CLOUD_KEY=
CLOUD_SECRET=
